.loader {
    position: fixed;
    inset: 0;
    background: linear-gradient(135deg, #4fc3d0, #2b8fa6);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;

    will-change: transform;
}

.loader__stage {
    perspective: 1200px;
    transform-style: preserve-3d;
}

.loader__img {
    display: block;
    will-change: transform, opacity;
    /* tamaño original del logo */
}